.cart {
  margin-left: auto;
  a:any-link {
    padding: .25rem;
  }
  &--content {
    span {
      display: inline-block;
      vertical-align: top;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      background-color: $color-awesome;
      color: #fff;
      border-radius: 50%;
      font-size: .75rem;
      text-align: center;
    }
  }
}
