$brk-pc: '721px';
$brk-sp: '720px';
$brk-xs: '350px';
$pc: 'screen and (min-width: #{$brk-pc})';
$sp: 'screen and (max-width: #{$brk-sp})';
$xs: 'screen and (max-width: #{$brk-xs})';
$width-container: 1200px;
$color-royalblue: #012271;
$color-peridot: lighten(#deda00, 2%);
$color-smokyblack: #14080e;
$color-awesome: #ff1053;
$color-cornsilk: cornsilk;
$color-lightgray: #E4E4E4;
$font-main-sanserif: 'Montserrat', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
$font-main-serif: YuMincho, 'Yu Mincho', serif;
$font-sub-cursive: 'Amatic SC', cursive;
$transition-link: .2s ease;
$transition-txt: .2s ease-out;
$transition-layer: .3s;
